# use references to this file by the following. Run from the root of the repository
# terragrunt run-all apply --terragrunt-modules-that-include ./azure.hcl

terraform {
    extra_arguments "volterra" {
        commands = ["apply","plan","destroy"]
        arguments = []
        env_vars = {
            VOLT_API_URL      = "https://your-tenant.console.ves.volterra.io/api"
            VOLT_API_TIMEOUT  = "60s"
            VOLT_API_P12_FILE = "/path/to/your/console.p12"
            VES_P12_PASSWORD  = "p12password" 
            VOLTERRA_TOKEN    = "XCAPITOKEN" 
        }
    }
}

inputs = {
    projectPrefix          = "prefixforassets"
    resourceOwner          = "lastname"
    domain_name            = "example.site.com"
    namespace              = "your-namespace"
    trusted_ip             = "1.1.1.1/32"
    volterraTenant         = "your-tenant-abcxyz"
    volterraCloudCredAzure = "nameofazurecredstouse"
    azureRegion            = "westus2"
    azureRegion2           = "eastus"
    ssh_public_key         = "ssh-rsa AAAA...redacted"
    auto_trust_localip     = true
    createJumphost         = false
}
