locals{
    secret_input_vars = yamldecode(sops_decrypt_file("${get_path_to_repo_root()}/ef.input.demo.yaml"))
    secret_env_vars = yamldecode(sops_decrypt_file("${get_path_to_repo_root()}/ef.env.demo.yaml"))
}

terraform {
    extra_arguments "volterra" {
        commands = ["apply","plan","destroy"]
        arguments = []
        env_vars = local.secret_env_vars
    }
}

inputs = local.secret_input_vars